@import "./variable.less";

*{
  margin: 0;
  padding: 0;  
}

body{
    font-family:'Roboto', sans-serif; ; 
   nav{
        width: 100%;
        height: 100px;
        background-color: @solid-yellow;
            ul{
                padding-left:5%;
                line-height:100px;
            li{ 
                font-size: 18px;
                padding-left: 3%;
                display:inline;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                span{
                    color: @solid-red;
                    text-transform: uppercase;
                    }
                } 
            }  
     } 
     main{

            .banner-area{
                background-image: url(img/banner-bg.png);

                background-size: cover;
                background-position: center center;
                top: 100px;
                width: 100%;
                height: 70vh;
                position:absolute;
                
                

            
        } 
        .logo{
            width: 316px;
            padding-left: 38%;
            padding-top: 11%;
            position: absolute;
            
        }
            .banner-button{
                background-color: @solid-yellow;
                font-size: 18px;
                color: #050500;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 8px;
                display: flex;
                padding: 24px 48px;
                position: absolute;
                margin-top: 33%;
                margin-left: 40%;
            } 
            section{
                padding-top: 45%;
                .wbb{
                    padding-top: 3%;
                    width: 100%;
                    .wbb-title{
                        margin-left: 5%;
                        font-family: 'Roboto', sans-serif;
                        font-size: 30px;
                        color: @regular-text;
                        font-weight: 500;
                        text-transform: uppercase;
                        .red{
                            color: @solid-red;
                            text-transform: uppercase;
                        }

                    }
                    .wbb-text{
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: @regular-text;
                    font-weight: 400;
                    font-size: 16px;
                    margin-left: 5%;
                    max-width: 60%;
                    padding-top: 10px;
                    }
                    .wbb-image{
                        float: right; 
                        margin-right: 10%;
                        max-width: 150px;
                    }
                    .wbb-button{
                        background-color: @solid-yellow;
                        font-size: 18px;
                        color: #050500;
                        font-weight: 500;
                        text-transform: uppercase;
                        border-radius: 8px;
                        display: flex;
                        padding: 24px 48px;
                        position: absolute;
                        margin-left: 5%;
                        margin-top: 10px;

                    }
                }
                    .din{
                    margin-top: 10%;
                    width: 100%;
                    background: @solid-white;
                    height: 50%;
                    position: absolute;
                    left: 0;
                    .din-title{
                        margin-right: 10%;
                        font-family: 'Roboto', sans-serif;
                        font-size: 30px;
                        color: @regular-text;
                        font-weight: 500;
                        text-transform: uppercase;
                        text-align: right;
                            .one{
                                text-transform: initial;
                                color: @regular-text;
                            }
                            span{
                                color: @solid-red;
                                text-transform: uppercase;
                                }                
                        }  
                    .din-text{
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        color: @regular-text;
                        font-weight: 400;
                        font-size: 16px;
                        margin-right: 10%;
                        max-width: 60%;
                        padding-top: 10px;
                        text-align: right;
                        float: right;
                        }
                    .din-image{
                        float: left; 
                        margin-left: 10%;
                        max-height: 150px;
                    }
                    .din-button{
                        background-color: @solid-yellow;
                        font-size: 18px;
                        color: #050500;
                        font-weight: 500;
                        text-transform: uppercase;
                        border-radius: 8px;
                        display: flex;
                        padding: 24px 48px;
                        float: right;
                        margin-right: 10%;
                        margin-top: 10px;

                    }
    
 

                }
            }
            footer{
                border-top:5px, @solid-yellow;
                background-color: @solid-black;
                width: 100%;
                margin-top: 40%;
                img{
                    max-width: 150px;
                    align-items: center;
                    display: inline;
                    padding: 30px;
                    display: block;
                    padding-left: 40%;
                }
    
        }  
   
    }
} 

@media screen and (max-width:675px)and (min-width:320px){
    .banner-button{
        background-color: @solid-yellow;
        font-size: 16px;
        color: #050500;
        font-weight: 500;
        text-transform: uppercase;
        border-radius: 8px;
        display: block;
        padding: 12px 24px;
        position: absolute;
        margin-top: 15%;
        margin-left: 30%;
        
    } 
    .banner-area{
        max-height: 200px;
    }
    .logo {
        display: none;
        
    }
    .wbb-button{
        margin-top: 50%;
    }
    .wbb{
        padding-bottom: 100px;
    }
    .din{
        padding-top: 100px;
        max-height: 200px;
    }
    .din-text {
        display:none;
        width: 0%;
        height: 0%;
    }
    .wbb-text{
        display:none;
        width: 0%;
        height: 0%;
    }
    footer{
        padding-top: 100px;
        margin-top: 5%;
    }
}
@media screen and (max-width:850px) and (min-width:675px){

    .banner-area{
        max-height: 300px;
    }
    .logo {
        display: block;
        
    }
    .din-text {
        font-size: 10px;
 
    }
    .wbb-text{
        font-size: 10px;
    }
    .din-title{
        font-size: 14px;
    }
    .wbb-title{
        font-size: 14px;
    }
    footer{
        display: none;
    }

}